<!DOCTYPE html>

<html lang="ko">

<!-- head.ejs를 가져와줘 -->
<%- partial('head') %>

<body id="">

    <div id="page">

        <!-- header.ejs를 가져와줘 -->
        <%- partial('header') %>

        <%- body %>

        <!-- footer.ejs를 가져와줘 -->
        <%- partial('footer') %>

    </div>

</body>


</html>